<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.m.myapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/gogolf"
        android:label="GoGolf"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateAlwaysHidden">

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyB89suxgsS1e7qV1KG0KwdiZylSM0VNlpI" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- Google MAP API key -->
        <activity
            android:name=".PermatasentulActivity"
            android:theme="@style/AppThemes" />
        <activity
            android:name=".PermatasentulFacilityActivity"
            android:theme="@style/AppThemes" />
        <activity
            android:name=".PermatasentulHoleActivity"
            android:theme="@style/AppThemes" />
        <activity
            android:name=".PermatasentulMapActivity"
            android:theme="@style/AppThemes" />
        <activity
            android:name=".PermatasentulPriceActivity"
            android:theme="@style/AppThemes" />
        <activity
            android:name=".SentulhighlandActivity"
            android:theme="@style/AppThemes" />
        <activity
            android:name=".SentulhighlandMapActivity"
            android:theme="@style/AppThemes" />
        <activity
            android:name=".SentulhighlandHoleActivity"
            android:theme="@style/AppThemes" />
        <activity
            android:name=".SentulhighlandPriceActivity"
            android:theme="@style/AppThemes" />
        <activity
            android:name=".SentulhighlandFacilityActivity"
            android:theme="@style/AppThemes" />
        <activity
            android:name=".GununggeulisActivity"
            android:theme="@style/AppThemes" />
        <activity
            android:name=".GununggeulisFacilityActivity"
            android:theme="@style/AppThemes" />
        <activity
            android:name=".GununggeulisHoleActivity"
            android:theme="@style/AppThemes" />
        <activity
            android:name=".GununggeulisMapActivity"
            android:theme="@style/AppThemes" />
        <activity
            android:name=".GununggeulisPriceActivity"
            android:theme="@style/AppThemes" />
        <activity
            android:name=".BogorrayaActivity"
            android:theme="@style/AppThemes" />
        <activity
            android:name=".BogorrayaMapActivity"
            android:theme="@style/AppThemes" />
        <activity
            android:name=".BogorrayaHoleActivity"
            android:theme="@style/AppThemes" />
        <activity
            android:name=".BogorrayaPriceActivity"
            android:theme="@style/AppThemes" />
        <activity
            android:name=".BogorrayaFacilityActivity"
            android:theme="@style/AppThemes" />
        <activity
            android:name=".RancamayaActivity"
            android:theme="@style/AppThemes" />
        <activity
            android:name=".RancamayaFacilityActivity"
            android:theme="@style/AppThemes" />
        <activity
            android:name=".RancamayaHoleActivity"
            android:theme="@style/AppThemes" />
        <activity
            android:name=".RancamayaMapActivity"
            android:theme="@style/AppThemes" />
        <activity
            android:name=".RancamayaPriceActivity"
            android:theme="@style/AppThemes" />
    </application>

</manifest>